In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [19]:
housing<- read_delim("housing.csv", col_names = c("crim", "zn", "indus", "chas", "nox", "rm", "age", "dis", "rad", "tax", "ptratio", "black", "lstat", "medv"),
                  delim = ' '
                  )
head(housing, 5)

Parsed with column specification:
cols(
  crim = col_character(),
  zn = col_character(),
  indus = col_character(),
  chas = col_character(),
  nox = col_character(),
  rm = col_character(),
  age = col_character(),
  dis = col_character(),
  rad = col_character(),
  tax = col_character(),
  ptratio = col_character(),
  black = col_character(),
  lstat = col_character(),
  medv = col_character()
)

  crim     zn     indus   chas nox     rm      age    dis     rad tax
1  0.00632  18.00   2.310  0    0.5380  6.5750  65.20  4.0900   1  296.0
2  0.02731   0.00   7.070  0    0.4690  6.4210  78.90  4.9671   2  242.0
3  0.02729   0.00   7.070  0    0.4690  7.1850  61.10  4.9671   2  242.0
4  0.03237   0.00   2.180  0    0.4580  6.9980  45.80  6.0622   3  222.0
5  0.06905   0.00   2.180  0    0.4580  7.1470  54.20  6.0622   3  222.0
  ptratio black  lstat  medv
1  15.30  396.90   4.98  24.00
2  17.80  396.90   9.14  21.60
3  17.80  392.83   4.03  34.70
4  18.70  394.63   2.94  33.40
5  18.70  396.90   5.33  36.20

In [21]:
housing_del_col <- select(housing, - cchasnox)

head(housing_del_col, 5)

Warning message in x:y:
“numerical expression has 13 elements: only the first used”

  crim     zn     indus   chas nox
1  0.00632  18.00   2.310  0    0.5380
2  0.02731   0.00   7.070  0    0.4690
3  0.02729   0.00   7.070  0    0.4690
4  0.03237   0.00   2.180  0    0.4580
5  0.06905   0.00   2.180  0    0.4580